<h1>ExtJsTest#test</h1>
<p>Find me in app/views/ext_js_test/test.html.erb</p>
<%= netzke :person, :class_name => "Basepack::GridPanel", :model => "Person",:columns=>[:id,:name,:code,:dep__name,:duty__name,:person_type__name,:e_mail,:phone] %>
