.fb_actions
  = link_to content_tag(:span,"#{I18n.t('common_op.btn_update')}"),{:href=>"#"},:class=>"submit minibutton"
  = link_to_function content_tag(:span,"#{I18n.t('common_op.btn_cancel')}"),"cancel_edit_form(this)",:class=>"minibutton"
