.page-header
  %h3 网络情况
-@network_condition.class.column_names.reject{|cn|%(id created_at updated_at vrv_project_id).include? cn}.each do |cn|
  =tb_show_field(@network_condition,cn,:label_css=>'span8',:value_css=>'span3')
.row
  .span5= t('activerecord.attributes.network_condition.products')
  .span8= @network_condition.products.map(&:name).join(',')
.actions
  =link_to "修改", edit_vrv_project_network_condition_path(@vrv_project,@network_condition),:class=>'btn'
