.page-header
  %h3 产品测试
-@product_test.class.column_names.reject{|cn|%(id created_at updated_at vrv_project_id).include? cn}.each do |cn|
  =tb_show_field(@product_test,cn)
%p#notice= notice
.actions
  = link_to '修改', edit_vrv_project_product_test_path(@vrv_project,@product_test),:class=>'btn'

