**.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/test/*
/db/migrate/*
/db/*.sqlite3
/public/system/*
/public/javascripts/tiny_mce/*
/coverage/
/spec/tmp/*
**.orig
config/database.yml
config/initializers/paperclip.rb
rerun.txt
pickle-email-*.html
