%fieldset
  %span.sequence
  .form_field
    %span.label= I18n.t('common_attr.used_for')
    %span.value= d_item.used_for
  .form_field
    %span.label= I18n.t('common_attr.apply_amount')
    %span.value= d_item.apply_amount
