<span class="sequence"></span>
<div class="show_item">
  <span class="item_label"><%= I18n.t('common_attr.used_for')%></span>
  <span class="item_value"><%= cash_draw_item.used_for %></span>
</div>  
<div class="show_item">
  <span class="item_label"><%= I18n.t('common_attr.apply_amount')%></span>
  <span class="item_value"><%= cash_draw_item.apply_amount %></span>
</div>  
