<fieldset>
  <legend>
    <%= f.hidden_field(:_destroy) %>
    <%= link_to_remove %>
  </legend> 
  <span class="sequence"></span>
  <div class="form_field">
    <span class="label"><%= I18n.t('common_attr.used_for')%></span>
    <span class="value"><%= f.text_field :used_for,:class=>"xlarge"  %></span>
  </div>  
  <div class="form_field">
    <span class="label"><%= I18n.t('common_attr.apply_amount')%></span>
    <span class="value"><%= f.text_field :apply_amount,:class=>"normal doc_ori_amount"  %></span>
  </div>  
</fieldset>
