<div id='work_flow_progress'>
	<span>单据状态</span>
	<div class='work_flow_step <%= "current_flow" if doc.doc_state==0 %>'>
		未提交
	</div>
	<div class='work_flow_step'>
		 ====>
	</div>
	<% doc.work_flows.each do |w| %>
		<div class='work_flow_step <%= "current_flow" if doc.work_flow_step_id==w.id %>'>
			<%= get_person_from_wfs(w,current_user).name %>
		</div>
		<div class='work_flow_step'>
			 ====>
		</div>
	<% end %>
	<div class='work_flow_step <%= "current_flow" if doc.doc_state==2 %>'>
		审批通过
	</div>
</div>
