<h5>收款人详细<span><%= recivers.sum {|r| r.fi_amount}%></span></h5>
<% for reciver in recivers -%>
  <div class="doc_detail_item">
    <div class="show_item">
      <span class="item_label"><%= I18n.t('common_attr.settlement') %></span>
      <span class="item_value"><%= r.settlement%></span>
    </div>
    <div class="show_item">
      <span class="item_label"><%= r.doc.doc_type==2?"#{I18n.t('common_attr.rec_company')}*":"#{I18n.t('common_attr.rec_person')}*"%></span>
      <span class="item_value"><%= r.company_name%></span>
    </div>
    <div class="show_item">
      <span class="item_label"><%= I18n.t('common_attr.bank') %></span>
      <span class="item_value"><%= r.bank%></span>
    </div>
    <div class="show_item">
      <span class="item_label"><%= I18n.t('common_attr.bank_no') %></span>
      <span class="item_value"><%= r.bank_no%></span>
    </div>
    <div class="show_item">
      <span class="item_label"><%= I18n.t('common_attr.amount') %></span>
      <span class="item_value"><%= r.amount%></span>
    </div>
    <div class="show_item">
      <span class="item_label"><%= I18n.t('common_attr.hr_amount') %></span>
      <span class="item_value"><%= r.hr_amount%></span>
    </div>
    <div class="show_item">
      <span class="item_label"><%= I18n.t('common_attr.fi_amount') %></span>
      <span class="item_value"><%= r.fi_amount%></span>
    </div>
  </div>
<% end -%>

