-if @docs_to_pay.count>0 and current_user.person.casher?
  .section
    .page-header
      %h3= I18n.t("common_attr.docs_to_pay")
    =render :partial => "doc_heads/docs_table",:locals=>{:docs=>@docs_to_pay}
    .bottom_action
      =link_to I18n.t('common_attr.more'), docs_to_pay_path,:remote=>true
-if @docs_to_approve.count>0
  .section
    .page-header
      %h3= I18n.t("common_attr.docs_to_approve")
    =render :partial => "doc_heads/docs_table",:locals=>{:docs=>@docs_to_approve}
    .bottom_action
      =link_to I18n.t('common_attr.more'), docs_to_approve_path,:remote=>true
-if @my_approved_docs.count>0
  .section
    .page-header
      %h3= I18n.t("common_attr.my_approved_docs")
    =render :partial => "doc_heads/docs_table",:locals=>{:docs=>@my_approved_docs}
-if @my_recent_docs.count>0
  .section
    .page-header
      %h3= I18n.t("common_attr.my_recent_docs")
    =render :partial => "doc_heads/docs_table",:locals=>{:docs=>@my_recent_docs}
