<%= jqgrid :docs_paid,
		:model=>"DocHead",
		:caption=>"已经付款的单据",
		:multiselect=>true,
		:colModel =>["doc_no",{:name=>"person__name",:label=>"申请人"},
			"apply_date",
            {:name=>"doc_type",:getter=>:doc_type_name,:enum_type=>"DocHead::DOC_TYPES"},
			{:name=>"doc_state",:getter=>:doc_state_name,:enum_type=>"DocHead::Doc_State"},
			{:name=>"total_amount",:getter=>:total_fi_amount,:label=>"审批金额"}],
		:height=>500,:width=>800,:where=>"doc_state=3",
		:ondblClickRow=>%Q(#--function(rowid,iRow,iCol,e){window.location='/doc_heads/'+rowid.toString();}--#)%>
<div class="jqgrid">
	<div class="buttons">
		<a onclick="output_to_txt('#docs_paid'); return false;" href="#">
			<img src="/images/icons/page_white_text.png" alt=""/> <%= I18n.t('common_attr.btn_output_txt')%>
		</a>
		<a onclick="batch_print('#docs_paid'); return false;" href="#">
			<img src="/images/icons/printer.png" alt=""/><%= I18n.t('common_attr.btn_batch_print')%>
		</a>
	</div>
</div>