<%= jqgrid :my_doc,
		:model=>"DocHead",
		:caption=>"我的单据",
		:multiselect=>true,
		:columns =>["doc_no",{:name=>"person__name",:label=>"申请人"},
			{:name=>"apply_date",:formatter:'date',:formatoptions: {:newformat:'d-M-Y'}},
                        {:name=>"doc_type",:getter=>:doc_type_name},
			{:name=>"doc_state",:getter=>:doc_state_name},
			{:name=>"total_amount",:getter=>:total_fi_amount,:label=>"审批金额"}],
		:height=>300,:width=>800,:where=>"person_id=#{current_user.person.id}",
		:ondblClickRow=>%Q(#--function(rowid,iRow,iCol,e){window.location='/doc_heads/'+rowid.toString();}--#)%>
<div class="jqgrid">
	<%= link_to_function I18n.t('common_attr.btn_output_txt'),"output_to_txt('#my_doc')",:class=>"button2" %>
	<%= link_to_function I18n.t('common_attr.btn_batch_print'),"batch_print('#my_doc')",:class=>"button2" %>
</div>