<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>您的单据已经交由<%= @doc_head.approver.name%>来审批</h1>
    <p>
      请耐心等待
    </p>
  </body>
</html>