<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<div id="header">
		images here
	</div>
	<div id="ko">
		<p>검토 요청 내역이 <%= "66.66"%>건 있습니다.  (합계 금액 : <%= "55.55"%>원)</p>
		<p>미 승인된 전표에 대해 조속히 검토/ 승인해 주시기 바랍니다.</p>
		<p>아래의 바로가기(Doc. Link Icon)를 클릭하면 해당문서로 이동합니다.</p>
	</div>
	<div id="ch">
		<p>待审批单据6份 （合计金额：22,925,496元）</p>
		<p>对未审批的单据，请及时审批/确认。</p>
		<p>点击此处（Doc. Link Icon) 进入相应单据。</p>
	</div>
	<div id="en">
		<p>(You may open the document by clicking on this link.)</p>
	</div>
	<div id="image">
		
	</div>
  </body>
</html>