.form_title
  %h3
    = link_to image_tag("/images/icons/add.png"), new_extra_work_standard_path,:remote=>true
    加班费标准列表
.edit_inline.new_extra_work_standard
.list_info
  = render extra_work_standards

