/* line 1, ../../app/stylesheets/product_page.scss */
* {
  margin: 0px;
}

/* line 2, ../../app/stylesheets/product_page.scss */
body {
  width: 100%;
  font-family: "Hiragino Sans GB","Microsoft Yahei","Simsun";
}

/* line 14, ../../app/stylesheets/product_page.scss */
#wrapper {
  width: 100%;
  margin: auto;
}
/* line 17, ../../app/stylesheets/product_page.scss */
#wrapper #header {
  height: 50px;
  width: 960px;
  margin: auto;
  border-bottom: 1px solid #dedede;
}
/* line 18, ../../app/stylesheets/product_page.scss */
#wrapper #header .logo {
  float: left;
  padding-left: 40px;
  font-weight: bold;
  font-size: 28px;
  margin-top: 4px;
  height: 37px;
  color: #d68c34;
  background: url(../images/oes_logo_small.png) no-repeat;
  background-position: left bottom;
}
/* line 33, ../../app/stylesheets/product_page.scss */
#wrapper #header .menu {
  width: 960px;
  margin: auto;
}
/* line 36, ../../app/stylesheets/product_page.scss */
#wrapper #header .menu ul {
  float: right;
  list-style: none;
  margin-top: 12px;
}
/* line 40, ../../app/stylesheets/product_page.scss */
#wrapper #header .menu ul li {
  display: inline-block;
  width: 85px;
  text-align: center;
}
/* line 44, ../../app/stylesheets/product_page.scss */
#wrapper #header .menu ul li a {
  font-size: 16px;
  text-decoration: none;
  display: block;
  color: #39444a;
}
/* line 51, ../../app/stylesheets/product_page.scss */
#wrapper #header .menu ul li.current a {
  color: #d68c34;
}
/* line 57, ../../app/stylesheets/product_page.scss */
#wrapper #content {
  background-position: bottom;
  width: 960px;
  margin: auto;
  margin-top: 12px;
}
/* line 62, ../../app/stylesheets/product_page.scss */
#wrapper #content .short_intro {
  text-align: center;
  color: #39444a;
  border-bottom: 1px solid #dedede;
}
/* line 67, ../../app/stylesheets/product_page.scss */
#wrapper #content .features {
  height: 450px;
  margin-top: 20px;
}
/* line 71, ../../app/stylesheets/product_page.scss */
#wrapper #content .actions {
  margin-top: 40px;
  text-align: center;
}
/* line 76, ../../app/stylesheets/product_page.scss */
#wrapper #footer {
  background: url(../images/footer-bg.jpg);
  clear: both;
  height: 50px;
  width: 100%;
  text-align: center;
}
/* line 82, ../../app/stylesheets/product_page.scss */
#wrapper #footer .copy_right {
  color: #d68c34;
  font-size: 13px;
  margin-top: 70px;
}

/**********/
/* line 90, ../../app/stylesheets/product_page.scss */
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 106, ../../app/stylesheets/product_page.scss */
.button:hover {
  text-decoration: none;
}

/* line 109, ../../app/stylesheets/product_page.scss */
.button:active {
  position: relative;
  top: 1px;
}

/* line 113, ../../app/stylesheets/product_page.scss */
.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

/* line 121, ../../app/stylesheets/product_page.scss */
.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

/* line 127, ../../app/stylesheets/product_page.scss */
.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
