/* line 1, ../../app/assets/stylesheets/product_page.css.scss */
* {
  margin: 0px;
}

/* line 2, ../../app/assets/stylesheets/product_page.css.scss */
body {
  width: 100%;
  font-family: "Hiragino Sans GB","Microsoft Yahei","Simsun";
}

/* line 14, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper {
  width: 100%;
  margin: auto;
}
/* line 17, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #header {
  height: 50px;
  width: 960px;
  margin: auto;
  border-bottom: 1px solid #dedede;
}
/* line 18, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #header .logo {
  float: left;
  padding-left: 40px;
  font-weight: bold;
  font-size: 28px;
  margin-top: 4px;
  height: 37px;
  color: #d68c34;
  background: url(../images/oes_logo_small.png) no-repeat;
  background-position: left bottom;
}
/* line 33, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #header .menu {
  width: 960px;
  margin: auto;
}
/* line 36, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #header .menu ul {
  float: right;
  list-style: none;
  margin-top: 12px;
}
/* line 40, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #header .menu ul li {
  display: inline-block;
  width: 85px;
  text-align: center;
}
/* line 44, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #header .menu ul li a {
  font-size: 16px;
  text-decoration: none;
  display: block;
  color: #39444a;
}
/* line 51, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #header .menu ul li.current a {
  color: #d68c34;
}
/* line 57, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content {
  background-position: bottom;
  width: 960px;
  margin: auto;
  margin-top: 12px;
}
/* line 62, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .short_intro {
  text-align: center;
  color: #39444a;
}
/* line 65, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .short_intro img.main {
  float: left;
}
/* line 68, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .short_intro ul {
  list-style: none;
  font-size: 14px;
  float: right;
  width: 220px;
  margin-top: 70px;
}
/* line 74, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .short_intro ul .title {
  float: left;
  clear: left;
  margin-bottom: 7px;
}
/* line 79, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .short_intro ul li {
  float: left;
  clear: left;
}
/* line 84, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .short_intro .demo {
  margin-top: 70px;
  float: right;
  margin-right: 100px;
}
/* line 90, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .features {
  float: left;
  width: 100%;
  margin-top: 30px;
}
/* line 94, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .features .title {
  float: left;
  clear: left;
  width: 950px;
  color: #39444a;
  padding-left: 20px;
  border-bottom: 2px solid #ccc;
}
/* line 102, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .features .feature {
  float: left;
  width: 960px;
  margin-top: 20px;
}
/* line 106, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .features .feature p {
  margin-top: 10px;
  margin-left: 10px;
  width: 350px;
  background: black;
  color: white;
  border-radius: 5px 5px 5px;
  padding: 20px;
  font-size: 15px;
  border: 1px solid black;
}
/* line 117, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .features .feature img {
  float: left;
  margin-left: 10px;
}
/* line 121, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .features .feature p {
  float: right;
}
/* line 126, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .contact_info {
  margin-top: 20px;
  text-align: center;
}
/* line 129, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .contact_info .card {
  float: left;
  margin-right: 15px;
  position: relative;
  width: 400px;
  height: 110px;
  margin-top: 30px;
  font-size: 14px;
  padding: 20px;
  text-align: left;
  border: 3px solid #ccc;
}
/* line 137, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .contact_info .card .name {
  color: #0063DC;
  font-size: 16px;
}
/* line 141, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #content .contact_info .card img {
  position: absolute;
  top: 20px;
  right: 20px;
}
/* line 152, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #footer {
  clear: both;
  float: left;
  height: 50px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
/* line 159, ../../app/assets/stylesheets/product_page.css.scss */
#wrapper #footer .copy_right {
  color: #d68c34;
  font-size: 13px;
}

/**********/
/* line 166, ../../app/assets/stylesheets/product_page.css.scss */
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 182, ../../app/assets/stylesheets/product_page.css.scss */
.button:hover {
  text-decoration: none;
}

/* line 185, ../../app/assets/stylesheets/product_page.css.scss */
.button:active {
  position: relative;
  top: 1px;
}

/* line 189, ../../app/assets/stylesheets/product_page.css.scss */
.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

/* line 197, ../../app/assets/stylesheets/product_page.css.scss */
.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

/* line 203, ../../app/assets/stylesheets/product_page.css.scss */
.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
