/*clear some stuff*/
*{margin:0px;padding:0px;}
/*whole style*/
body{
	width:760px;
	margin:auto;
	font: 90% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
a{
	color:#369;
	text-decoration: none;
	font-size:14px;
}
a:hover{
	background-color: #369;
	color:white;
}
/*parts*/
div#header{
	height:120px;
	position:relative;
	background-image: url("../images/paid-stamp-small.jpg");
	background-repeat:no-repeat;
	border-bottom:1px dashed #DDD;
}
div#header #title{
	float:left;
	display:block;
	margin-left: 150px;
	margin-top: 30px;
}
div#header #user_nav{
	position: absolute;
	margin-left: 620px;
	margin-top: 10px;
}
div#main_content{
	min-height:600px;
}
/*give the table a wear==========================================================*/
table.hor-zebra
{
	font-size: 12px;
	margin: 45px;
	text-align: left;
	border-collapse: collapse;
}
table tr{
	overflow: scroll;
}
table.hor-zebra th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	color: #039;
}
table.hor-zebra td
{
	padding: 8px;
	color: #669;
}
table.hor-zebra .odd
{
	background: #e8edff; 
}
/*=================================================================================*/
/*form styles*/
form{
	border:2px dashed #A5ACB2;
}
form h3.form_title{
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
form div.field{
	margin-bottom: 25px;
}
form div .input_label{
	width:120px;
	display:inline-block;
	margin-left: 20px;
	font-size:14px;
}
form div.input_area{
	display: inline-block;
}
form .basic_input{
	font-size:14px;
}
/*footer*/
div#footer{
	height:60px;
	border-top: 1px dashed #999;
	border-bottom: 1px dashed #999;
	margin-top: 50px;
	position: relative;
}
div#footer img{
	float:left;
	margin-top: 5px;
	margin-left: 300px;
}
div#footer #desc{
	float:left;
	margin-top: 25px;
	margin-left: 10px;
	font-weight: bold;
}
/*details form */
#details{
	margin-top: 20px;
	border: 1px dashed #999;
	padding: 20px 0px 20px 20px;
}
#details div.fields{
	margin-bottom: 10px;
}
#details div.fields span{
	display: inline-block;
}
#details div.fields span.attr{
	width:120px;
	text-align: right;
}
#details div.fields span.value{
	text-align: left;
}
/*the menu's style goes here*/
#menu{	
	margin-top: 90px;
	float: right;
	padding:0;
}
	
#menu li{
	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}

#menu li a{
	display: block;
	background: #20548E;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid white;
	width: 70px;
	color: #EAFFED;
	white-space: nowrap;
}

#menu li a:hover{
	background: #1A4473;
}
		
#menu li ul{
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
}
		
#menu li ul li{
	float: none;
	display: inline;
}
		
#menu li ul li a{
	width: auto;
	background: #20548E;
}
		
#menu li ul li a:hover{
	background: #1A4473;
}
/***********************************info notice and alert goes here***************************/
div.info{
	border: 2px solid #DDD;
	height:20px;
	padding: 0.8em;
	margin-bottom: 5px;
}
div.notice{
	background: #E6EFC2;
	border-color: #C6D880;
	color: #264409;
}
div.alert{
	background: #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
}
/***********************************************************************************************/
.d_fields{
	position: relative;
	margin-bottom: 20px;
}
.d_field{
	float:left;
}
/*********************************** error messages in the form ***************************/
span.error_message{
	background: #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
	display: inline-block;
	border: 2px solid #DDD;
	padding: 2px;
}
input.required{
	background: #FFF6BF;
}
/*++++++++++++++++++++++++++++++++here is my own table made by pure divs*/
table.form_input{
	margin:0px;
	padding:0px;
	cellspacing:5px;
}
table.form_input input.normal{
	width:80px;
}
table.form_input input.small{
	width:25px;
}
table.form_input th{
}
table.form_input td a{
	width:75px;
	display: inline-block;
}
/*+++++++++++++++++++++++++++++++*/
div.table_details{
	overflow: auto;
}
div#reim_details_by_fee_type{
	display: none;
}