/*clear some stuff*/
*{margin:0px;padding:0px;}
/*whole style*/
body{
	width:97%;
	margin:auto;
	font: 80% 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti;
}
a{
	color:#369;
	text-decoration: none;
	font-size:14px;
}
a:hover{
	background-color: transparent;
	color:#369;
}
/*parts*/
div#header{
	height:100px;
	margin-top: 10px;
	margin-left: 5px;
	position:relative;
	background-image: url("../images/img_logo.gif");
	background-repeat:no-repeat;
}
div#header #title{
	padding:0px;
	float:left;
	display:block;
	margin-left: 5px;
	margin-top: 57px;
}

div#header #user_nav{
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}
div#main_area{
	min-height:800px;
	position: relative;
}
div#menu{
	float:left;
	width:120px;
	padding-top: 20px;
	padding-bottom: 50px;
}
div#menu div.menu{
	border-bottom: 1px solid #999;
}
div#menu a.menu_item{
	padding: 2px 0px 2px 5px;
	display: block;
}
div#menu a.menu_item:hover{
	background-color: #E4F0F2;
}

div#menu a.selected{
	color:white;
	background-color: #70A99F;
}

div#content{
	margin: 0px 5px 20px 120px;
	border: 5px solid #70A99F;
	min-height:600px;
}
/*give the table a wear==========================================================*/

table.hor-zebra
{
	font-size: 12px;
	margin-left: 15px;
	text-align: left;
	border-collapse: collapse;
	width:95%;
}
table tr{
	overflow: scroll;
}
table.hor-zebra th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	color: #006173;
}
table.hor-zebra td
{
	padding: 3px;
	color: #669;
}
table.hor-zebra td.action
{
	width:30px;
}
table.hor-zebra tr:nth-child(even)
{ 
	background: #E4F0F2; 
}
/*=================================================================================*/
/*form styles*/
form{
	margin:0 0 15px 0; 
	padding:5px;   
	background: none;

}
form div.form_area{
	margin: 0px 15px 15px 15px;
	padding: 10px;
	background-color: #E4F0F2;	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	overflow: auto;
}
form div.form_field{
	display:inline-block;
	margin-bottom: 5px;
	min-width:290px;
}
form div.form_field label{
	display:inline-block;
	width:84px;
	text-align: right;
}
form div.form_field label.large{
	display:inline-block;
	width:120px;
	text-align: right;
}
form div.form_field .input0{
	display:inline-block;
	width:160px;
}
form div.form_field .input1{
	display:inline-block;
	width:200px;
}
form div.form_field .input2{
	display:inline-block;
	width:500px;
	height:50px;
}
form div.flow_area_field{	
	display: inline-block;
	margin:2px;
}
form div.input_area{
	display: inline-block;
}
div.form_title{
	margin: 0px 15px 0px 15px;
	padding: 5px;
	border-bottom: 1px solid #E4F0F2;
}
/*footer*/
div#footer{
	height:40px;
	border-top: 1px solid #999;
	margin-top: 50px;
	position: relative;
}
div#footer img{
	float:left;
	margin-top: 5px;
}
div#footer #desc{
	float:left;
	margin-top: 15px;
	margin-left: 10px;
	font-weight: bold;
}
/*details form */
#details{
	margin-top: 0 0 15px 0;
	padding: 0px;
}
#details div.fields{
	margin-bottom: 10px;
}
#details div.fields span{
	display: inline-block;
}
#details div.fields span.attr{
	width:120px;
	text-align: right;
}
#details div.fields span.value{
	text-align: left;
}
/***********************************info notice and alert goes here***************************/
div.info{
	border: 2px solid #DDD;
	height:20px;
	padding: 0.8em;
	margin-bottom: 5px;
}
div.notice{
	background: #E6EFC2;
	border-color: #C6D880;
	color: #264409;
}
div.alert{
	background: #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
}
/***********************************************************************************************/
.d_fields{
	position: relative;
	margin-bottom: 20px;
}
.d_field{
	float:left;
}
/*********************************** error messages in the form ***************************/
span.error_message{
	background: #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
	display: inline-block;
	border: 2px solid #DDD;
	padding: 2px;
}
input.required{
	background: #FFF6BF;
}
/*++++++++++++++++++++++++++++++++here is my own table made by pure divs*/
table.form_input{
	margin:0px;
	padding:0px;
	cellspacing:5px;
}
table.form_input input.normal{
	width:80px;
}
table.form_input input.small{
	width:25px;
}
table.form_input input.middle{
	width:150px;
}
table.form_input input.large{
	width:200px;
}
table.form_input input.large_x{
	width:250px;
}
table.form_input th{
	text-align: left;
}
table.form_input td a.detail_link{
	width:75px;
	display: inline-block;
}
/*+++++++++++++++++++++++++++++++*/
div.table_details,div.rdd_details,div.reim_split_details{
	overflow: auto;
	margin: 15px;
	padding: 5px;
	background-color: #E4F0F2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
/*==============================================================*/
/*actions area*/
div.actions{
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 7px;
	border-bottom: 1px solid #E4F0F2;
}

/* Button2 */
div.button_wrapper{
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	width:120px;
	height:20px;
}
a.button2{
	border: 1px solid #ccc;
	padding: 3px 10px 3px;
	color: black;
	text-decoration: none;
	font-size: 13px;
	line-height: 30px;
	background: #ddd;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	text-shadow: #fff 0px 1px 1px;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
	background: -moz-linear-gradient(top,  #eeeeee,  #cccccc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
}
a:active.button2 {
	box-shadow: 0px 0px 0px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,.5);
	position: relative;
	top: 1px;
	left: 1px;
	}

/*=================================work flow goes here==================================*/
div#work_flow_progress{
	position: relative;
	padding: 5px;
	margin: 0 15px 15px 15px;
	background-color: #E4F0F2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
div#work_flow_progress span{
	display: inline-block;	
	margin-top: 7px;
}
div.work_flow_step{	
	display: inline-block;
	margin-top: 7px;
	margin-left: 20px;
	padding:0px;
}
div.work_flow_step span{
	margin:0px;
}	
div.current_flow{
	background-color: #1F8AEE;
	color:white;
}
div.go_to{
	background-image: url("../images/arrow.png");
	background-repeat:no-repeat;
	width:30px;
	height:20px;
}
/*the styles for the reim details by dropdownlist*/
div.reim_details_by_fee_type{
	display: inline=block;
	background-color: #e9eef2;
}
/*===========================================devise relate staff=================*/
div#login{
	background-image: url("../images/login.png");
	background-repeat: no-repeat;
	width:700px;
	position: relative;
	margin: auto;
	margin-top: 100px;
	height:500px;
}
div.login_input_area{
	display:inline-block;	
}
div.login_field label{
	display:inline-block;
	width:90px;
}
div.login_input_area input{
	width:90px;
}
div#login form{
	position: absolute;
	left:350px;
	top:95px;
}
div.login_actions{
	display:inline-block;
	margin-top: 15px;
}
/*+++++++++++++++++++++++++++*/
div.upload_item,div#add_uload_file{
	background-color: #E4F0F2;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}
div.delete_upload{
	display:inline-block;
	float:right;
	margin-right: 3px;
}
div.download{
	display:inline-block;
	float:right;
	margin-right: 3px;
}
/*doc============*/
div#my_doc{
	width:49%;
	display:inline-block;
}
div#docs_to_approve{
	width:49%;
	display:inline-block;
}
div.filter{
	margin: 0px 15px 0px 15px;
	padding: 0px;
	border-bottom: 1px solid #E4F0F2;
	position: relative;
}
div.filter form{
	margin:0px;
}
div a.new_object{
	margin-left: 30px;
}
/*=======================reference*/
div.reference{
	position:relative;
	display:inline-block;
}
div.reference input{
	display:inline-block;
	margin-right: 16px;
	width:184px;
}
div.reference input.large{
	display:inline-block;
	margin-right: 16px;
	width:400px;
}
table div.reference input{
	width:84px;
}
div.reference a{
	display:inline-block;
	position: absolute;
	right:-1px;
	top:0px;
}
span.reference{
	background-image: url("../images/reference_icon.png");
	background-repeat: no-repeat;
	display:inline-block;
	margin: 0px;
	width:16px;
	height:16px;
}
/*=================================disabled link style============================*/
a.disable{
	cursor: text;
	color: grey;
}
a:active.disable {

}
/*4work flow*/
div.form_field_4_work_flow{
	margin-left: 32px;
}
div.doc_type_check{
	display:inline-block;
}
/*set the approvers margin to the larger size*/
div#approvers{
	margin: 30px;
}