Backup::Model.new(:bsqls, 'A sample backup configuration') do

  database MySQL do |database|
    database.name               = 'webreim_production'
    database.username           = 'root'
    database.password           = 'china123!'
    database.skip_tables        = ['logs']
    database.additional_options = ['--single-transaction', '--quick']
  end

  store_with Dropbox do |db|
    db.email      = 'emial'
    db.password   = 'password'
    db.api_key    = 'zcjo7maziw3n6oa'
    db.api_secret = '1mvtd99z85d3rq3'
    db.path       = '/webriem_sql_backps'
    db.keep       = 25
    db.timeout    = 300
  end

	notify_by Mail do |mail|
		mail.on_success           = true
		mail.on_failure           = true

		mail.from                 = 'sender@email.com'
		mail.to                   = '79413824@email.com'
		mail.address              = 'smtp.gmail.com'
		mail.port                 = 587
		mail.domain               = 'your.host.name'
		mail.user_name            = 'sender@email.com'
		mail.password             = 'my_password'
		mail.authentication       = 'login'
		mail.enable_starttls_auto = true
	end
	

end
