.page-header
  %h3 投标阶段
-@bill_stage.class.column_names.reject{|cn|%(id created_at updated_at vrv_project_id).include? cn}.each do |cn|
  =tb_show_field(@bill_stage,cn)

.actions
  = link_to '修改', edit_vrv_project_bill_stage_path(@vrv_project,@bill_stage),:class=>'btn'
