<div class="form_area">
	<%= netzke :deps,:class_name=>"MyDocsGridPanel",:title=>"我的单据列表",
				:prohibit_update => true,
				:prohibit_delete => true,
				:columns=>[
					:doc_no,{:name=>:person__name,:label=>"申请人"},:apply_date,
					{:name=>:doc_type_name,:label=>"单据类型",:with_filters=>false,:sorting_scope=>:sort_by_dt},
					{:name=>:doc_state_name,:label=>"单据状态",:with_filters=>false,:sorting_scope=>:sort_by_ds},
					{:name=>:total_fi_amount,:label=>"审批金额",:with_filters=>false}],
				:scope => ["person_id=?",current_user.person.id] %>
</div>