<%= jqgrid :deps,
		:model=>"Dep",
		:caption=>"部门",
		:height=>450,:width=>800,
    :colModel=>["name","code","version","start_date","end_date",{:name=>"parent_dep__name",:label=>"上级部门"}],
		:ondblClickRow=>%Q(#--function(rowid,iRow,iCol,e){window.location='/deps/'+rowid.toString();}--#)%>
%div class="jqgrid"
	%div class="buttons"
		%a href="/deps/new"
			%img src="/images/icons/add.png" alt=""/ <%= "添加部门"%>
		</a>
  </div>
</div>


