/* Code is poetry */
/* line 3, ../../../app/stylesheets/rails_admin/base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../../../app/stylesheets/rails_admin/base.scss */
body {
  background: white url(../../images/rails_admin/background.png) repeat-x;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

/* line 14, ../../../app/stylesheets/rails_admin/base.scss */
a img {
  border: 0;
}

/* line 18, ../../../app/stylesheets/rails_admin/base.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 27, ../../../app/stylesheets/rails_admin/base.scss */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 38, ../../../app/stylesheets/rails_admin/base.scss */
.clearfix {
  display: inline-block;
}

/* line 42, ../../../app/stylesheets/rails_admin/base.scss */
* html .clearfix {
  height: 1%;
}

/* line 46, ../../../app/stylesheets/rails_admin/base.scss */
.clearfix {
  display: block;
}

/* line 50, ../../../app/stylesheets/rails_admin/base.scss */
fieldset {
  border: none;
}

/* line 54, ../../../app/stylesheets/rails_admin/base.scss */
.image_replacement {
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  overflow: hidden;
}

/* line 61, ../../../app/stylesheets/rails_admin/base.scss */
#wrapper {
  width: 960px;
  margin: 0px auto;
  text-align: left;
}

/* line 67, ../../../app/stylesheets/rails_admin/base.scss */
#header {
  font-size: 10px;
  height: 50px;
}

/* line 72, ../../../app/stylesheets/rails_admin/base.scss */
#header a {
  color: #666;
}

/* line 76, ../../../app/stylesheets/rails_admin/base.scss */
ul.breadcrumb {
  height: 50px;
  list-style-type: none;
  position: absolute;
}

/* line 82, ../../../app/stylesheets/rails_admin/base.scss */
ul.breadcrumb li {
  margin-top: 12px;
  font-size: 200%;
  text-transform: lowercase;
  float: left;
  margin-right: 3px;
  color: #ccc;
}

/* line 91, ../../../app/stylesheets/rails_admin/base.scss */
ul.breadcrumb li a {
  text-decoration: none;
  color: #999 !important;
}

/* line 96, ../../../app/stylesheets/rails_admin/base.scss */
ul.breadcrumb li:last-child span {
  color: #666 !important;
}

/* line 100, ../../../app/stylesheets/rails_admin/base.scss */
ul.breadcrumb li a:hover {
  text-decoration: underline;
  color: #666;
}

/* line 105, ../../../app/stylesheets/rails_admin/base.scss */
.user_info {
  margin-top: 9px;
}

/* line 109, ../../../app/stylesheets/rails_admin/base.scss */
.user_info img {
  float: left;
}

/* line 113, ../../../app/stylesheets/rails_admin/base.scss */
.user_info ul {
  margin-left: 5px;
  float: left;
}

/* line 118, ../../../app/stylesheets/rails_admin/base.scss */
.user_info li {
  font-size: 90%;
  list-style-type: none;
}

/* line 123, ../../../app/stylesheets/rails_admin/base.scss */
.user_info li strong {
  font-size: 120%;
}

/* line 127, ../../../app/stylesheets/rails_admin/base.scss */
.user_info li a {
  text-decoration: none;
  color: #333;
}

/* line 132, ../../../app/stylesheets/rails_admin/base.scss */
#headerLeft {
  float: left;
}

/* line 136, ../../../app/stylesheets/rails_admin/base.scss */
h1#logo {
  float: left;
  padding-top: 12px;
  font-weight: normal;
  font-size: 22px;
  width: 64px;
}

/* line 144, ../../../app/stylesheets/rails_admin/base.scss */
h1#logo span.image_replacement {
  background-image: url(../../images/rails_admin/logo.png);
  width: 64px;
  height: 46px;
  float: left;
}

/* line 151, ../../../app/stylesheets/rails_admin/base.scss */
#headerRight {
  float: right;
}

/* line 155, ../../../app/stylesheets/rails_admin/base.scss */
#header2 {
  font-size: 10px;
  height: 70px;
}

/* line 160, ../../../app/stylesheets/rails_admin/base.scss */
#content {
  width: 960px;
  background: #FFF;
  margin: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}

/* line 167, ../../../app/stylesheets/rails_admin/base.scss */
.ra-block .ui-widget-header {
  padding: 8px;
}

/* line 171, ../../../app/stylesheets/rails_admin/base.scss */
.ra-block-content {
  padding: 10px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

/* line 177, ../../../app/stylesheets/rails_admin/base.scss */
.ra-block-content .ra-block-content {
  border: none;
}

/* line 181, ../../../app/stylesheets/rails_admin/base.scss */
.ra-block .ra-block-toolbar {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  padding: 5px;
  margin-bottom: 10px;
}

/* line 190, ../../../app/stylesheets/rails_admin/base.scss */
.ra-block-toolbar ul {
  list-style-type: none;
  float: right;
}

/* line 195, ../../../app/stylesheets/rails_admin/base.scss */
.ra-block-toolbar ul li {
  float: left;
  margin-left: 3px;
}

/* line 200, ../../../app/stylesheets/rails_admin/base.scss */
.ra-message {
  padding: 10px;
  margin-bottom: 10px;
}

/* line 205, ../../../app/stylesheets/rails_admin/base.scss */
.ra-button .ui-button-text {
  line-height: 1em;
}

/* line 209, ../../../app/stylesheets/rails_admin/base.scss */
input {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  padding: 5px;
  border-left: 1px solid #e2e3ea;
  border-top: 1px solid #abadb3;
  border-bottom: 1px solid #e3e9ef;
  border-right: 1px solid #dbdfe6;
}

/* line 219, ../../../app/stylesheets/rails_admin/base.scss */
ul#nav {
  float: left;
  list-style-type: none;
  margin-top: 38px;
  margin-left: 20px;
}

/* line 226, ../../../app/stylesheets/rails_admin/base.scss */
#nav li {
  display: block;
  float: left;
  font-size: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-right: 2px;
}

/* line 235, ../../../app/stylesheets/rails_admin/base.scss */
#nav li a {
  border: 1px solid #ededed;
  color: #000;
  text-decoration: none;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  background: white url(../../images/rails_admin/menu_hover.png) bottom repeat-x;
}

/* line 245, ../../../app/stylesheets/rails_admin/base.scss */
#nav li a:hover {
  background: #fff;
}

/* line 249, ../../../app/stylesheets/rails_admin/base.scss */
#nav li.active a {
  border-bottom-color: #fff;
  background: #fff;
}

/* line 254, ../../../app/stylesheets/rails_admin/base.scss */
#nav li a img {
  border: none;
}

/* line 258, ../../../app/stylesheets/rails_admin/base.scss */
#nav li a.addnew {
  position: relative;
  right: 9px;
  top: 1px;
  color: #000;
  text-decoration: none;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 269, ../../../app/stylesheets/rails_admin/base.scss */
#nav li.more {
  margin-top: -9px;
}

/* line 273, ../../../app/stylesheets/rails_admin/base.scss */
ul#nav li.more:hover ul {
  display: block;
  z-index: 1;
}

/* line 278, ../../../app/stylesheets/rails_admin/base.scss */
ul#nav li.more ul {
  display: none;
  margin: 0;
  width: 120px;
  position: absolute;
  margin-top: -1px;
}

/* line 286, ../../../app/stylesheets/rails_admin/base.scss */
ul#nav li.more ul li {
  float: none;
  margin: 0;
  padding: 0;
}

/* line 292, ../../../app/stylesheets/rails_admin/base.scss */
#nav li.more a {
  display: block;
}

/* line 296, ../../../app/stylesheets/rails_admin/base.scss */
ul#nav li.plus.more > a {
  background: url(../../images/rails_admin/navigation_more.png) no-repeat;
  text-indent: -9999px;
  border: 1px solid #ededed;
  width: 25px;
  height: 31px;
  padding: 0;
  margin: 0;
}

/* line 306, ../../../app/stylesheets/rails_admin/base.scss */
ul#nav li.more ul li a {
  background: #dedede;
  text-indent: 0px;
  padding: 7px 5px 4px 5px;
  height: 15px;
  font-size: 10px;
  width: 110px;
}

/* line 315, ../../../app/stylesheets/rails_admin/base.scss */
ul#nav li.more ul li a:hover {
  background: #ccc;
}

/* line 319, ../../../app/stylesheets/rails_admin/base.scss */
ul#nav li.more ul li.active a {
  background: #ccc;
}

/* line 323, ../../../app/stylesheets/rails_admin/base.scss */
.submit {
  margin-top: 15px;
  display: block;
  list-style-type: none;
}

/* line 329, ../../../app/stylesheets/rails_admin/base.scss */
.submit li {
  float: left;
  margin-right: 4px;
}

/* line 334, ../../../app/stylesheets/rails_admin/base.scss */
ul.items {
  margin: 10px 10px 10px 14px;
}

/* line 338, ../../../app/stylesheets/rails_admin/base.scss */
ul.items li {
  margin-bottom: 3px;
  margin-left: 5px;
}

/* line 343, ../../../app/stylesheets/rails_admin/base.scss */
ul.items li a {
  color: #000;
}

/* line 347, ../../../app/stylesheets/rails_admin/base.scss */
ul.items li a:hover {
  text-decoration: none;
}
