* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}
.doc_list{
  a{
    &.touchstart{
      .doc_row{
        background:black;
      }
    }
    &.touchend{
      .doc_row{
        background:black;
      }
    }
    text-decoration:none;
    .doc_row{
      padding-top:2px;
      padding-left:3px;
      margin-top:5px;
      margin-bottom:5px;
      background:rgba(0,0,0,0.5);
      color:white;
    }
  }
}
