/*clear some stuff*/
*{margin:0px;padding:0px;}
/*whole style*/
body{
	margin:auto;
	/*font: 80% 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti;*/
  font-family:"Hiragino Sans GB","Microsoft Yahei","Simsun","Helvetica", "Arial", sans-serif; 
  /*background:url("../images/bck.jpg");*/
  background-color:#eeeeee;
  color:#999;
  font-size:12px;
}
img{
  border:0px;
}
a:hover{
	background-color: transparent;
  color:black;
}
input{
  border:1px solid #AAA;
  font-size:1em;
  height:16px;
}
/*header*/
div.header{
  position:relative;
  margin-bottom:10px;
  height:50px;
  background-color:#515151;
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
div.header a.logo{
  display:inline-block;
  text-decoration:none;
  margin-left:20px;
  padding-top:10px;
  font-size:20px;
  font-weight:bold;
  color:white;
}
div.header div.user_nav{
  position:absolute;
  right:20px;
  top:17px;
  color:white;
}
div.header div.user_nav,div.header div.user_nav a{
  color:white;
  font-weight:bold;
}
/*===============================*/
div#main_area{
	min-height:800px;
	position: relative;
}

div#content{
	position: relative;
	margin: 0px 20px 20px 230px;
	border: 1px solid #999;
  background:#fff;
  padding-bottom:30px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}
div.sidebar{
  float:left;
}
/*side panel*/
div.sidepanel{
  width:182px;
  margin:0px 0px 12px 20px;
  background:#fff;
  padding:7px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}
div.sidepanel .title{
  display:block;
  border-bottom:1px solid #ccc;
  padding-bottom:2px;
  margin-top:2px;
  padding-left:4px;
  padding-top:2px;
  color:black;
  font-weight:bold;
  font-size:14px;
}
div.sidepanel ul{
  list-style:none;
}
div.sidepanel ul li{
  display:block;
  margin:4px 4px 3px 4px;
}
div.sidepanel a{
  color:#515151;
  font-size:13px;
}
div.sidepanel a:hover{
  color:white;
  background-color:#515151;
}
/* the footer */
div.footer{
  margin-top:30px;
  color:#D5DED9;
  position:relative;

}
/*=================================================================================*/
/*form styles*/
form{
	margin:0 0 15px 0; 
	padding:5px;   
	background: none;
  color:black;

}
div.form_area{
	margin: 0px 15px 15px 15px;
	padding: 10px;
  background-color:white;
  color:black;/*#4D4D4D;*/
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	overflow: auto;
	position: relative;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}

form div.form_area a img{
  border:0px;
}
form div.form_field{
	display:inline-block;
	margin-bottom: 5px;
  margin:3px 5px 3px 5px;
  position:relative;
}
/*normal size of form fields*/
form div.form_field span.label{
  width:90px;
  vertical-align:top;
  text-align:right;
  display:inline-block;
  float:left;
}
form div.form_field span.value{
  display:inline-block;
  width:200px;
  float:left;
  margin-left:5px;
}
form div.form_field span.value input{
  width:100%;
  padding:2px;
}
form div.form_field span.value select{
  width:100%;
  padding:2px;
}
/*doc show 's information*/
div.doc_head_show div.form_field,div.show_only div.form_field{
  display:inline-block;
  margin:2px 2px 4px 2px;
}
/* ------end------------*/
div.form_area fieldset{
  padding-bottom:5px;
  position:relative;
  padding-top:5px;
  margin-bottom:5px;
  border:0px;
  border-bottom:1px solid #ccc;
}
div.form_area fieldset legend{
  display:none;
  position:absolute;
  top:2px;
  right:1px;
}
div.form_area fieldset:hover legend{
  display:block;
}
div.form_area fieldset span.sequence{
  /*background-color:#fff9e5;*/
  border-bottom:1px solid #ccc;
  display:inline-block;
  padding-left:2px;
  z-index:20;
  height:15px;
  font-weight:bold;
  font-size:14px;
  position:absolute;
  left:-8px;
  top:0px;
}

/*here is some special sizes*/
form div.form_field.col-sp2 span.label{
	width:90px;
}
form div.form_field.col-sp2 span.value{
	width:508px;
}

form div.form_field .input2{
	width:100%;
	height:50px;
	font-size:12px;
}

form div.input_area{
	display: inline-block;
}
div.form_title{
  color:black;
	margin: 7px 15px 5px 15px;
	padding: 5px;
	border-bottom: 1px solid #E4F0F2;
  font-size:16px;
}
div.form_title h3{
  position:relative;
}
div.form_title h3 img{
  margin-left:5px;
  margin-top:7px;
}
div.form_title span.doc_total_amount{
  font-size:15px;
  font-weight:bold;
}
.work_flow_info{
  margin-bottom:8px;
  &.approve{color:green;}
  &.reject{color:red;}
}
.search_form{
  position:relative;
  float:left;
  width:100%;
  .search_field{
    .label{
      width:90px;
      float:left;
      text-align:right;
      margin-right:5px;
    }
    .value{
      float:left;
      margin-left:5px;
      width:100px;
      input{
        width:100px;
        margin:2px 0px;
        padding:3px 0px;
      }
    }
    float:left;
    margin-right:12px;
  }
  .actions{float:left;clear:left;}

}
/*footer*/
div#footer{
	height:40px;
	border-top: 1px solid #999;
	margin-top: 50px;
	position: relative;
  img{
    float:left;
    margin-top: 5px;
  }
  #desc{
    float:left;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
  }
}
/*details form */
#details{
	margin-top: 0 0 15px 0;
	padding: 0px;
  .fields{
    margin-bottom: 10px;
    span{
      display: inline-block;
    }
    span.attr{
      width:120px;
      text-align: right;
    }
    span.value{
      text-align: left;
    }
  }
}
/***********************************info notice and alert goes here***************************/
div.info{
	border: 2px solid #DDD;
	height:20px;
	padding: 0.8em;
	margin-bottom: 5px;
}
div.notice{
	background: #E6EFC2;
	border-color: #C6D880;
	color: #264409;
}
div.alert{
	background: #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
}
/***********************************************************************************************/
.d_fields{
	position: relative;
	margin-bottom: 20px;
}
.d_field{
	float:left;
}
/*********************************** error messages in the form ***************************/
span.error_message{
	background: #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
	display: inline-block;
	border: 2px solid #DDD;
	padding: 2px;
}
input.required{
	background: #FFF6BF;
}

/*+++++++++++++++++++++++++++++++*/
div.table_details,div.rdd_details,div.reim_split_details{
	overflow: auto;
	margin: 15px;
	padding: 5px;
	background-color: #FFF9E5;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
/*==============================================================*/
/*actions area*/
div.actions{
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 7px;
	border-bottom: 1px solid #E4F0F2;
}

/* Button2 */
div.button_wrapper{
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	width:120px;
	height:20px;
}
a.button2{
	border: 1px solid #ccc;
	padding: 3px 10px 3px;
	color: black;
	text-decoration: none;
	font-size: 13px;
	line-height: 30px;
	background: #ddd;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	text-shadow: #fff 0px 1px 1px;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
	background: -moz-linear-gradient(top,  #eeeeee,  #cccccc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
}
a:active.button2 {
	box-shadow: 0px 0px 0px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,.5);
	position: relative;
	top: 1px;
	left: 1px;
	}

/*=================================work flow goes here==================================*/
div#work_flow_progress{
	position: relative;
	padding: 5px;
	margin: 0 15px 15px 15px;
	background-color: #FFF;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}
div#work_flow_progress span{
	display: inline-block;	
	margin-top: 0px;
}
div.work_flow_step{	
	display: inline-block;
	margin-top: 0px;
	margin-left: 7px;
	padding:0px;
}
div.work_flow_step span{
	margin:0px;
}	
div.current_flow{
  padding:4px;
	background-color: #FBCC7F;
	color:black;
}
div.go_to{
	background-image: url("../images/arrow.png");
	background-repeat:no-repeat;
	width:16px;
	height:13px;
	margin-left:3px;
	margin-right:3px;
}
/*the styles for the reim details by dropdownlist*/
div.reim_details_by_fee_type{
	display: inline-block;
	background-color: #e9eef2;
}
/*===========================================devise relate staff=================*/
div.login{
	width:500px;
	position: relative;
	margin: auto;
	margin-top: 200px;
  background-color:#fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
div.login_error{
  margin-top:3px;
  padding:5px;
  background-color:red;
  color:black;
  margin-bottom:10px;
}
div.login form{
  padding:20px;
  padding-top:30px;
  position:relative;
}
div.login h3{
  margin:3px;
  font-weight:bold;
  color:#ccc;
  font-size:20px;
  margin-left:20px;
  padding-top:20px;
}
div.login_field{
  font-size:17px;
  margin-bottom:10px;
}
div.login_field .l_label{
  width:90px;
  display:inline-block;
}
div.login_field .l_value{
  width:260px;
  display:inline-block;
}
div.login_field .l_value input{
  height:20px;
}
div.login_actions{
	display:inline-block;
	margin-top: 15px;
}
div.login div.logo{
  &.user{
    background-image:url("../images/.png");
  }
  &.admin_user{
    background-image:url("../images/.png");
  }
  background-repeat:no-repeat;
  float:right;
  margin-right:4px;
  margin-bottom:10px;
  width:110px;
  height:54px;
}
/*+++++++++++++++++++++++++++*/
div.upload_item,div#add_uload_file{
	background-color: #E4F0F2;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}
div.delete_upload{
	display:inline-block;
	float:right;
	margin-right: 3px;
}
div.download{
	display:inline-block;
	float:right;
	margin-right: 3px;
}
/*doc============*/
div#my_doc{
	width:49%;
	display:inline-block;
}
div#docs_to_approve{
	width:49%;
	display:inline-block;
}
div.filter{
	margin: 0px 15px 0px 15px;
	padding: 0px;
	border-bottom: 1px solid #E4F0F2;
	position: relative;
}
div.filter form{
	margin:0px;
}
div a.new_object{
	margin-left: 30px;
}
/*=======================reference=========================================*/
div.reference{
  width:100%;
	position:relative;
	display:inline-block;
}
div.reference input{
	display:inline-block;
	margin: 0px;
	width:100%;
}

table div.reference input{
	width:100px;
}
div.reference a{
	display:inline-block;
	position: absolute;
	right:-1px;
	top:0px;
}
span.reference{
	background-image: url("../images/reference_icon.png");
	background-repeat: no-repeat;
	display:inline-block;
	position:absolute;
	right:0px;
	top:4px;
	width:16px;
	height:16px;
}
/***************************************** end reference*************************/
/*approver list*/
div.approver_list{
	max-height:200px;
	overflow: auto;
}
/*=================================disabled link style============================*/

/*4work flow*/
div.form_field_4_work_flow{
	margin-left: 32px;
}
div.doc_type_check{
	display:inline-block;
}
/*set the approvers margin to the larger size*/
div#approvers{
	margin: 30px;
}
/*for the jquery datetime picker*/
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
/*+++++++++++++++++++++++++++updated button and links++++++++++++++++++++++++++*/
/* BUTTONS */
.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/*===================ADD Some Color=======*/
/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}
/*the facebox*/
div#mark_the_doc{
	height:60px;
	width:150px;
	margin: 2px;
	padding: 0px;
}
/*the vouch info area*/
div.vouch_info{
  margin-bottom:5px;
  padding:3px;
}
/*div.vouch_info:hover{
  background-color:#fff9e5;
}*/
/*redefine the image in the link in vouch*/
div.vouch_info a img{
  border:0px;
  display:inline-block;
  margin-left:5px;
}
div.form_inline_actions{
  display:block;
  margin-top:2px;
  margin-left:100px;
}
tr span.d{
  color:red;
  font-weight:bold;
}
tr span.c{
  color:green;
  font-weight:bold;
}
div.edit_inline form{
  margin:5px;
  border:1px solid #bbbbbb;
  border-radius:5px;
  -moz-border-radius:5px;
}
/* for the error*/
div.edit_inline form div.inline_error{
  margin:2px 5px 2px 5px;
  color:red;
  font:12px;
  border-bottom:1px solid #ccc;
}
div.edit_inline form div.inline_error ul{
  list-style:none;
  margin:2px 5px 2px 5px;
  color:red;
  font:12px;
}
/*docs by person offsets use*/
div.docs_by_person{
  margin:5px;
  border:1px solid #42aec2;
  border-radius:5px;
  -moz-border-radius:5px;
}
div.docs_by_person h4{
  margin-left:20px;
  margin-top:3px;
  border-bottom:1px solid #ccc;
  font-size:15px;
}
/* div selection area*/
div.selection_area {
  margin:2px 3px 3px 3px;
  position:relative;
}
div.selection_area span.checkbox{
  display:inline-block;
  float:left;
  margin-left:4px;
  width:125px;
}
/* for the mini button*/
/* button basics */
  a.minibutton {
    display:inline-block;
    height:24px;
    padding:0 0 0 3px;
    font-size:12px;
    font-weight:bold;
    color:#333;
    text-shadow:1px 1px 0 #fff; 
    background:url(../images/minibutton_matrix.png) 0 0 no-repeat;
    white-space:nowrap;
    border:none;
    overflow:visible;
    cursor:pointer;
    text-decoration:none;
  }
  
  a.minibutton>span {
    display:block;
    height:23px;
    padding:0 10px 0 8px;
    line-height:23px;
    background:url(../images/minibutton_matrix.png) 100% 0 no-repeat;
  }
  
  a.minibutton:hover {
    color:#fff;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    background-position:0 -30px;
  }
  a.minibutton:hover>span {background-position:100% -30px;}
  
  a.minibutton.mousedown{background-position:0 -60px; }
  a.minibutton.mousedown>span{background-position:100% -60px; }
  
  /* with icon */
  a.btn-download .icon {
    float:left;
    margin-left:-4px;
    width:18px;
    height:22px;
    background:url(http://github.com/images/modules/buttons/minibutton_icons.png?v20100306) 0 0 no-repeat;
  }
  a.btn-download .icon {background-position:-40px 0;}
  a.btn-download:hover .icon, a.btn-download:focus .icon {background-position:-40px -25px;}

/*for the new haml file style*/
div.list_item{
  margin-left:22px;
  margin-right:22px;
  padding:2px;
  position:relative;
  border-bottom:1px solid #ccc;
  height:45px;
}
div.list_item:hover{
  background-color:#f2f2f2;
}
div.list_item:hover span.list_action_left{
  display:inline-block;
}
div.list_item:hover span.list_action_right{
  display:inline-block;
}
span.list_action_left{
  float:left;
  margin-left:-18px;
  display:none;
}
span.list_action_right{
  float:right;
  margin-right:-18px;
  display:none;
  clear:right;
}
span.list_field{
  display:block;
  margin:2px 3px 2px 3px;
}
/*new list action style*/
.list_item_action{
  position:absolute;
  height:15px;
  bottom:2px;
  right:5px;
}
.list_item_action span.action{
  display:none;
  float:right;
  margin-left:3px;
}
.list_item_action span.action a{
  color:#515151;
}
.list_item_action span.action a:hover{
  background-color:#515151;
  color:white;
}
div.list_item:hover .list_item_action span.action{
  display:inline-block;
}
.list_item{
  .doc_show{
    float:left;
    .doc_type{
      font-size:14px;
      float:left;
      margin-top:3px;
      margin-left:5px;
    }
    .apply_date{
      float:left;
      margin-left:5px;
      margin-top:5px;
    }
    .doc_no{
      float:left;
      margin:3px 5px 0px 35px;
      padding-top:2px;
      a{
        text-decoration:none;
        color:#999;
      }
    }
    .docinfo{
      position:absolute;
      bottom:10px;
      left:7px;
    }
    .state{
      position:absolute;
      top:3px;
      right:5px;
      width:70px;
      text-align:center;
      background:#000;
      color:white;
      font-size:13px;
      padding:5px;
      &.paid{background:green;}
      &.processing{background:#FFA435;}
      &.approved{background:green;}
      &.rejected{background:red;}
    }
  }
}
/* for the pager*/
.pagination{
  margin:10px 20px 0px 22px; 
  color:#515151;
}
.pagination a{
  color:#515151;
}
.pagination a:hover{
  background-color:#515151;
  color:white;
}
/* doc error message*/
.doc_error .inline_error{
  margin-left:10px;
  margin-right:10px;
  border:2px solid #FBC2C4;
  padding:5px;
	background: #FBE3E4;
	color: #8A1F11;
}
.doc_error ul{
  list-style:none;
}
/*doc show custom styles*/
div.s_title{
  margin-bottom:10px;
}
div.s_currency{
  margin-top:10px;
  position:relative;
}
div.s_currency span{
  font-size:13px;
  font-weight:bold;
}
/*the new show field*/
div.show_field{
  display:inline-block;
  margin-left:8px;
  margin-bottom:6px;
}
div.show_field span.label{
  color:black;
  display:inline-block;
  text-align:right;
  width:80px;
}
div.show_field span.value{
  border-bottom:1px solid #aaa;
  display:inline-block;
  min-width:100px;
}
/* for the empty_info*/
div.empty_info{
  height:80px;
  margin-top:10px;
  margin-left:20px;
  margin-right:20px;
  text-align:center;
  font-size:15px;
  font-weight:bold;
  padding-top:60px;
  border:1px dashed #ccc;
}
