.contact_info
  .card
    .name 宋颢琨
    .email ifcsonghaokun@gmail.com
    .qq 84117804(QQ)
    .mobile 13810207973
    .address 北京市 朝阳区
    =image_tag "song_avatar.png"
  .card
    .name mike lee
    .email mike.d.1984@gmail.com
    .qq 79413824(QQ)
    .mobile 15910601187
    .address 北京市 朝阳区
    =image_tag "mike_avatar.png"

