.short_intro
  =image_tag 'product/main.jpg',:class=>'main'
  %ul
    %h4.title 主要特点
    %li 单据审批控制
    %li 界面中英文支持
    %li 直接生成用友U8凭证
    %li 单据费用统计
    %li 邮件通知
    %li 单据打印
    %li Excel格式的导出
  =link_to "申请线体验", "/home/apply_demo",:class=>"button orange demo fancybox"
.features
  .title 网上报销系统特点介绍
  .feature.left
    =image_tag 'product/work_flow.jpg'
    %p 网上报销系统可以根据每个人的职务和部门制定针对每个单据类型的个性化的审批流，还可以根据单据的申请金额灵活控制审批环节。
  .feature.right
    =image_tag 'product/international.jpg'
    %p 网上报销系统对中文、英文语种提供全界面支持，任何一个菜单，标题，都可以通过界面右上角的语言一键切换。
  .feature.left
    =image_tag 'product/u8_vouch.jpg'
    %p 网上报销系统可以将所有的员工的填写的报销单据直接生成用友U8中的凭证，生成凭证的过程可以通过一些默认配置；网上报销系统同时能够读取用友U8系统中的部门，科目信息，方便进行不同单据类型的配置。
  .feature.right
    =image_tag 'product/analyc.jpg'
    %p 网上报销系统可以为管理者提供详细的费用统计，不但可以根据具体的时间段，不同的部门、项目进行统计，还可以根据人员、部门、科目进行费用的汇总，直观看到各个费用的分布情况。
  .feature.left
    =image_tag 'product/print.jpg'
    %p 网上报销系统可以对所有单据进行打印。
  .feature.right
    =image_tag 'product/doc_types.jpg'
    %p 网上报销系统可以对各个报销单据进行更加细分的拆分，方便进行更加详细的统计。
  .feature.left
    =image_tag 'product/export.jpg'
    %p 网上报销系统可以将需要审批的单据导出成Excel格式。
  .feature.right
    =image_tag 'product/approve.jpg'
    %p 网上报销系统整个界面易用性强，简洁易用。
    

