.short_intro
  %h3 产品部分功能展示
.features
  .slider-wrapper.theme-default
    #slider
      =image_tag "product_images/features/feature2.png",:title=>"#caption2"
      =image_tag "product_images/features/feature3.png",:title=>"#caption3"
      =image_tag "product_images/features/feature4.png",:title=>"#caption4"
      =image_tag "product_images/features/feature1.png",:title=>"#caption1"
    #caption1.nivo-html-caption 与用友U8系统凭证的无缝集成
    #caption2.nivo-html-caption 灵活的单据审批流设置
    #caption3.nivo-html-caption 多语言支持
    #caption4.nivo-html-caption 丰富的费用统计功能
.actions
  =link_to "申请线体验", "/home/apply_demo",:class=>"button orange demo fancybox"
