.page-header
  %h3 合同预测
-@contract_predict.class.column_names.reject{|cn|%(id created_at updated_at vrv_project_id).include? cn}.each do |cn|
  =tb_show_field(@contract_predict,cn)

.actions
  = link_to '修改', edit_vrv_project_contract_predict_path(@vrv_project,@contract_predict),:class=>'btn'
