= form_for @vrv_project do |f|
  =tb_input_field(f,'name')
  =tb_input_field(f,'customer')
  =tb_input_field(f,'customer_industry')
  =tb_input_field(f,'place')
  =tb_input_field(f,'website',:value=>f.object.website)
  .clearfix{'class'=>(!f.object.errors[:phone_pre].blank? || !f.object.errors[:phone_sur].blank?) ? 'error' : ''}
    =f.label :phone
    .input
      .inline-inputs
        =f.text_field :phone_pre,:class=>'small',:style=>"width:30px;"
        ='-'
        =f.text_field :phone_sur,:style=>'width:155px'
        -if !f.object.errors[:phone_pre].blank? || !f.object.errors[:phone_sur].blank?
          %span.help-inline= f.object.errors[:phone_pre].first || f.object.errors[:phone_sur].first
  =tb_input_field(f,'scale')
  =tb_input_field(f,'amount')
  =tb_input_field(f,'source')
  =tb_input_field(f,'agent_contact')
  .page-header
    %h5 联系人信息
  =f.fields_for :customer_contact do |form|
    =tb_input_field(form,'name')
    =tb_input_field(form,'duty')
    =tb_input_field(form,'phone')
    =tb_input_field(form,'email')
  .actions
    = f.submit '保存',:class=>'btn primary'
    =link_to "放弃", @vrv_project,:class=>'btn'
