.page-header
  %h3= @vrv_project.customer
-@vrv_project.class.column_names.reject{|cn|%(id created_at updated_at person_id current_approver_id current_approver_info_id human_star system_star state).include? cn}.each do |cn|
  =tb_show_field(@vrv_project,cn)
-if @vrv_project.customer_contact
  .page-header
    %h5 联系人信息
  -%w(name duty phone).each do |field|
    =tb_show_field(@vrv_project.customer_contact,field)
.actions
  =link_to "修改", edit_vrv_project_path(@vrv_project),:class=>'btn primary'
  -if @vrv_project.un_submit?
    =link_to "提交", submit_vrv_project_path(@vrv_project),:class=>'btn',:method=>'PUT'
