.page-header
  %h3= @vrv_project.customer
-@vrv_project.class.column_names.reject{|cn|%(id created_at updated_at).include? cn}.each do |cn|
  =tb_show_field(@vrv_project,cn)
.actions
  =link_to "修改", edit_vrv_project_path(@vrv_project),:class=>'btn primary'
