here is a list of private commands
<%= form_tag('/pri_task/fuck_p',:remote=>true) do -%>
	<%= text_field_tag :u %>
   <div><%= submit_tag 'ResetPassword'%></div>
<% end -%>
<%= link_to "更新doc",{:controller=>"pri_task",:action=>"update_doc"},:remote=>true%>