.page-header
  %h3 投标后
=tb_show_field(@bill_after,'bill_state')
-if @bill_after.bill_state=='我方未中标'
  =tb_show_field(@bill_after,'reason')

.actions
  = link_to '修改', edit_vrv_project_bill_after_path(@vrv_project,@bill_after),:class=>'btn'
