-@tech_communication.class.column_names.reject{|cn|%(id created_at updated_at vrv_project_id).include? cn}.each do |cn|
  =tb_show_field(@tech_communication,cn)
%p#notice= notice
.actions
  =link_to "返回", vrv_project_tech_communications_path(@vrv_project),:class=>'btn'
  = link_to '修改', edit_vrv_project_tech_communication_path(@vrv_project,@tech_communication),:class=>'btn'
  =link_to "增加技术交流", new_vrv_project_tech_communication_path(@vrv_project),:class=>'btn'

