<div class="form_title"><h3>单据类型与科目对应列表</h3></div>
<table class="hor-zebra">
  <tr>
    <th>费用</th>
    <th>借方科目</th>
    <th>贷方科目</th>
    <th>简要描述</th>
    <th></th>
  </tr>

<% @fee_code_matches.each do |fee_code_match| %>
  <tr id="fcm_<%= fee_code_match.id%>" class="<%= "odd" if fee_code_match.id%2==0 %>">
    <%= render :partial => "tr_fee_code_match",:locals=>{:fee_code_match=>fee_code_match} %>
  </tr>
  <!--this tr is for edit-->
    <tr>
      <td colspan="5">
        <div id="edit_fcm_<%= fee_code_match.id%>" class="vouch_form"></div>
      </td>
    </tr>
<% end %>
</table>

<br />

