%table.hor-zebra
  %tr
    %th
    %th 角色名称
    %th 对应菜单
    %th
  -roles.each do |role|
    %tr(:id="role_#{role.id}")
      =render "tr_role",:role=>role
    %tr
      %td{:colspan=>"4"}
        .edit_inline(id="edit_role_#{role.id}")
