<td><%= link_to image_tag("/images/icons/page_edit.png"),edit_role_path(role) ,:remote=>true %></td>
<td><%= role.name %></td>
<td><%= truncate(role.menu_names,:length=>50) %></td>
<td class="action"><%= link_to image_tag("/images/icons/cross.png"), role, :confirm => '是否真的要删除?',:class=>"splash", :method => :delete,:remote=>true %></td>
