<div class="form_title"><h3><%= link_to image_tag("/images/icons/add.png"), new_role_path,:remote=>true %>角色列表</h3></div>
<div class="edit_inline new_role"></div>
<div class="list_info">
  <%= render "list",:roles=>@roles %>
</div>
