<h3 class="form_title">详细信息</h3>
<div id="details">
		<!--=========================================-->
	<div class="field">
		<span class="attr">Name:</span>
		<span class="value"><%= @role.name %></span>	  
	</div>
	</div>

<%= link_to '编辑', edit_role_path(@role) %> |
<%= link_to '返回', roles_path %> |
<%= link_to '添加 Role', new_role_path %>