<%= jqgrid :fees,
		:model=>"Fee",
		:caption=>"费用类型列表",
		:height=>450,:width=>800,
    :colModel=>["name","code",{:name=>"show_in_ref",:enum_type=>"Fee::SHOW_IN_REF",:getter=>:show_in_ref_name,:label=>"是否可以选择"}],
		:ondblClickRow=>%Q(#--function(rowid,iRow,iCol,e){window.location='/fees/'+rowid.toString();}--#)%>
<div class="jqgrid">
	<div class="buttons">
		<a href="/fees/new">
			<img src="/images/icons/add.png" alt=""/> <%= "添加费用类型" %>
		</a>
  </div>
</div>
