/*clear some stuff*/
*{margin:0px;padding:0px;}
/*whole style*/
body{
  padding-top:50px;
	margin:auto;
	/*font: 80% 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti;*/
  font-family:"Hiragino Sans GB","Microsoft Yahei","Simsun","Helvetica", "Arial", sans-serif; 
  /*background:url("../images/bck.jpg");*/
}
fieldset{
  position:relative;
  border-bottom:1px solid #ccc;
  legend{
    display:inline-block;
    position:absolute;
    right:0px;
    top:0px;
  }
}
.doc_row{
  margin:10px 10px;
  border:1px solid #ccc;
  padding:15px 0px;
}
#footer{
  margin-top:50px;
  color:white;
  text-align:center;
  padding:10px 0px;
  background:black;
}
.doc_detail.is_split{
  display:none;
}
#doc_state_process{
  padding:15px 20px;
  text-align:center;
  border:1px solid #ccc;
}
