/*clear some stuff*/
*{margin:0px;padding:0px;}
/*whole style*/
body{
  padding-top:50px;
	margin:auto;
	/*font: 80% 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti;*/
  font-family:"Hiragino Sans GB","Microsoft Yahei","Simsun","Helvetica", "Arial", sans-serif; 
  /*background:url("../images/bck.jpg");*/
}
#content{
  min-height:500px;
}
#loading{
  display:none;
  position:fixed;
  top:100px;
  left:150px;
  width:54px;
  height:55px;
  background:url('loading_new.gif')
}

fieldset{
  position:relative;
  border-bottom:1px solid #ccc;
  legend{
    display:inline-block;
    position:absolute;
    right:0px;
    top:0px;
  }
}
textarea#work_flow_info_comments{
  width:500px;
  height:100px;
  margin:10px;
}
.doc_row{
  margin:10px 10px;
  border:1px solid #ccc;
  padding:15px 0px;
  position:relative;
  &:hover{a.detail_link{display:block;}}
  a.detail_link{
    display:none;
    position:absolute;
    top:10px;
    right:10px;
  }
}
.search_result{
  .amount_result{
    border:1px solid #ccc;
    padding:7px;
    font-size:15px;
  }
  .chart_action{
    padding:7px;
    text-align:center;
  }
  .doc_row_search{
    margin-top:15px;
  }
  .empty_search_result{
    padding:10px;
    border:1px dashed #ccc;
    text-align:center;
  }
}
#doc_state_process{
  .label{
    font-size:12px;
  }
}
#footer{
  margin-top:50px;
  color:white;
  text-align:center;
  padding:10px 0px;
  background:black;
}
.doc_detail.is_split{
  display:none;
}
#doc_state_process{
  padding:15px 20px;
  text-align:center;
  border:1px solid #ccc;
}
