<td><span class="<%= v.md=="0" ? "c" : "d" %>"><%= v.md=="0" ? "贷" : "借" %></span><%= link_to image_tag("/images/icons/page_edit.png"),{:controller=>"vouch",:action=>"edit",:vouch_id=>v.id},:remote=>true %>
<td><%= v.inid%></td><td><%= v.cdept_id%></td>
<td><%= truncate(v.ccode,:length=>10)%></td>
<td><%= truncate(v.ccode_equal,:length=>10)%></td>
<td><%= v.citem_id%></td><td><%= v.cperson_id%></td>
<td><%= v.md%></td><td><%= v.mc%></td>
<td><%= v.cexch_name%></td><td><%= v.nfrat%></td>
<td><%= v.dbill_date%></td><td><%= v.cbill%></td>
<td><%= v.idoc%></td>
<td><%= image_tag (v.doc_head.exist_vouch? ? "/images/icons/accept.png" : "/images/icons/cross.png") %><td>
