<div class="form_title"><h3>单据生成U8凭证预览</h3></div>
<% @docs.each do |doc| %>
  <div id="vd_<%= doc.id%>" class="vouch_info">
    <%= render :partial=>"doc_vouch_info",:locals=>{:doc=>doc}%>
  </div>
<% end %>
