<p>你好 <%= @resource.email %>!</p>

<p>您请求更改新的密码，请点击下面链接进行修改.</p>

<p><%= link_to '更改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您从未进行过更改密码的请求，请忽略此邮件.</p>
<p>在没有点击上述链接进行密码修改之前，原密码不变.</p>
