<div class="form_title"><h3><%= link_to image_tag("/images/icons/add.png"), new_supplier_path,:remote=>true %>供应商列表</h3></div>
<div class="edit_inline new_supplier"></div>
<div class="list_info">
  <%= render "list",:suppliers=>@suppliers %>
</div>

