=form_for @outware_doc_detail,:remote=>true do |f|
  .clearfix
    =f.label :serial_no
    .input=f.text_area :serial_no,:rows=>13
  .actions
    =f.submit '保存',:class=>'btn primary'
    =link_to "取消", '#',:class=>'btn cancle ghost'
