.topbar_wrapper
  .topbar
    .fill
      .container
        %h3=link_to "网上报销系统", root_url
        -if current_user and current_user.person and current_user.person.role
          %ul
            -current_user.person.role.menus.has_group.all.group_by(&:group_name).each do |g_name,menus|
              %li.dropdown{'data-dropdown'=>"dropdown"}
                =link_to g_name,'#',:class=>'dropdown-toggle'
                %ul.dropdown-menu
                  -menus.each do |menu|
                    %li=link_to menu.name,menu.path
            -current_user.person.role.menus.solo.each do |menu|
              %li=link_to menu.name,menu.path
        -if current_user
          %ul.nav.secondary-nav
            %li=link_to "欢迎, #{current_user.person.name}",root_url
            %li=link_to "注销",destroy_user_session_path,:method=>:delete
