!!!!
%html
  %head
    %title 网上报销系统
    = stylesheet_link_tag "application"
    = javascript_include_tag "application" 
    = csrf_meta_tag 
  %body
    =render :partial => "layouts/topbar"
    .container#content
      = yield
    =render :partial => "layouts/footer"
    =image_tag 'loading_new.gif',:id=>'loading'
