<!DOCTYPE html>
<html>
	<head>
	  <title>网上报销系统</title>
	  <%= stylesheet_link_tag :all,:recursive => true %>
	  <%= csrf_meta_tag %>
	</head>
	<body>
			<div id="login">	
			<%= yield %>
		</div>
	</body>
</html>
