<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>mailer_layout</title>
		<link rel="stylesheet" href="http://114.113.150.227/stylesheets/mailer.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
	<body id="mailer_layout">
		<div id="mail_area">
			<div id="header">
			</div>
			<div id="content">
				<%= yield%>
				<div id="click">
					<img src="http://114.113.150.227/images/image003.jpg"></img>
				</div>
				(this email message is only for test,please ignore it...thanks...)<br/><br/>
			</div>
		</div>
	</body>
</html>